.form-container {
  display: flex;
  gap: 5px;
  padding-top: 18px;
}

.table-container {
  width: 100%;
}

.table-header,
.table-body > div {
  display: flex;
  width: 100%;
}

.table-header > *,
.table-body > div > * {
  width: 100%;
  padding: 0.8em 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.table-body > div > * {
  border-top: none;
}

.table-header > * {
  background-color: antiquewhite;
  font-weight: bold;
}

div.funcionario-column-id {
  width: 6em;
  border-left: none;
}

.buttons {
  display: flex;
  gap: 0.6em;
}
